.nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  .nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 144.5rem;
    margin: 0 auto;
    padding-top: 2.3rem;

    @media screen and (max-width: 768px) {
      padding-top: 1.3rem;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  .nav__logo {
    width: 12.5rem;
    height: 12.5rem;

    @media screen and (max-width: 768px) {
      width: 4.6rem;
      height: 4.6rem;

    }
  }

  .nav__x__logo {
    width: 2.4rem;
    height: 2.5rem;

    @media screen and (max-width: 768px) {
      width: 1.2rem;
      height: 1.2rem;

    }
  }

  .nav__links__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    @media screen and (max-width: 768px) {
      gap: 1rem;
    }
  }

  .nav__connect__button {
    font-size: 2rem;
    line-height: 1;

    @media screen and (max-width: 768px) {
      font-size: 1.3rem;
    }
  }
}

.menu__text {
  @media screen and (max-width: 768px) {
    font-size: 1.3rem;
  }
}