@font-face {
  font-family: "Rye-Regular";
  src: url('./assets/fonts/Rye-Regular.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: "VastShadow-Regular";
  src: url('./assets/fonts/VastShadow-Regular.woff2') format('woff2');
  font-style: normal;
}